body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑";
	background:#f5f5f9;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
	display:block;
}
.iconfont{
	display:block;
}

@mixin cont{
	border-top: 1px solid #e8e8e8;
	padding: 7px 0 7px 7px;
	.left{
	float: left;
	display: flex;
	img{
		width: 30px;
	}
	h3{
		font-size: 4px;
	}
	.jieshao{
		// padding-top: 4px;
		padding-left: 4px;
		p:first-of-type(1){
			color:#333333;

		}
		p:last-of-type{
		color: #8b8888;
		}
	}
	p{
		font-size: 6px;
	}
} 
span{
	float: right;
	margin-right: 7px;
	margin-top: 7px;
	color: #57b38a;
	font-size: 6px;
}
}
